<% content_for(:title, "RentViz") %>

<h1>Rentals</h1>

  <% @rentals.each do |rental| %>
    <div class="panel panel-default">
      <div class="panel-heading"><a href="<%= rental.external_url %>"><%= rental.heading %></a></div>
      <ul class="list-group">
        <li class="list-group-item">Price: <%= rental.price %></li>
        <li class="list-group-item">Time: <%= Time.at(rental.timestamp.to_i).strftime("%A, %d %b %Y %l:%M %p") %></li>
        <% if rental.formatted_address != nil %>
          <li class="list-group-item">Address: <%= rental.formatted_address %></li>
        <% end %>
        <li class="list-group-item">Zip: <%= rental.zip_code %></li>
        <li class="list-group-item"><div class="well well-sm"><%= rental.body %></div></li>
      </ul>
    </div>
  <% end %>

<%= paginate @rentals %>
