<h1>Search!</h1>

<%= form_tag("http://search.3taps.com", method: "get") do %>
  <%= label_tag(:location, "Location") %>
  <%= text_field(:location) %>
  <%= label_tag(:category, "Category") %>
  <%= text_field(:category) %>
  <%= label_tag(:location, "Location") %>
  <%= text_field(:location) %>
